.title {
    margin: 0 auto;
    background-image: url('../../../public/images/case-bg.png');
    background-repeat: no-repeat;
    background-clip: border-box;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 48px;
    margin-bottom: 48px;
    width: 90%;
}

.title h2 {
    color: #3F3350;
    font-size: 32px;
}

.cardcontainer {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 48px;
}

.casecard {
    margin-left: auto;
    margin-right: auto;
    background-color: #FFFEF9;
    border: 1px solid #FFD740;
    border-radius: 30px;
    width: 375px;
    margin-bottom: 24px;
}

.casecard p {
    padding: 24px;
}

.caseimg {
    width: 100%;
}

.content {
    display: flex;
    justify-content: space-between;
}

.commentpeople {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.commentitem {
    margin: 24px;

}

.icon {
    width: 24px;
    height: 24px;

}

.people {
    width: 120px;
    height: 120px;
    margin: 16px;
}

.comment {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 24px;
}

@media (max-width: 992px) {
    .commentitem {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    

}