.aside {
  width: 206px;
  height: 807px;
  flex-shrink: 0;
  border-radius: 50px;
  border: 1px solid #ffc107;
  background: #fffef9;
  padding: 67px 41px;
}

.aside .aside-main {
  display: flex;
  width: 124px;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}

.aside-main div {
  display: flex;
  width: 106px;
  padding: 12px 0px;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  border-bottom: 1px solid #ffc107;
}

.aside-input {
  border: none;
  border-bottom: 1px solid #ffc107;
  background-color: rgba(255, 254, 249, 0);
  background-color: #fffef9;
  background-image: url("/public/images/search.png");
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding-left: 40px;
  width: 124px;
  height: 48px;
  /* outline: none;  */
}

::placeholder,
.aside-title,
.aside span {
  color: #664d03;
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}

.aside span {
  font-size: 16px;
}


/* AdminOrder.css -----------------------------------------------------------------*/
.position {
  display: inline-flex;
  padding: 16px 17px;
  align-items: flex-start;
}

.Container {
  display: flex;
  flex-direction: column;
  width: 1091px;
  height: 808px;
  border: 1px solid #ffc107;
  border-radius: 50px;
  align-items: center;

  background-image: url("/public/images/dashboard-background.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position-y: 100%;
  position: relative;
}


.orderh3 {
  padding: 25px 55px 30px 36px;
  align-items: center;
  color: #EAAC00;
  font-size: 28px;
  font-weight: 600;
  line-height: 50px;

}


.orderContainer {
  width: 913px;
  background-color: #FFF8E1;
  border-radius: 30px;
  display: flex;
  padding: 60px 48px;
  flex-direction: column;
  align-items: flex-start;

}

.orderContent {
  display: flex;
  font-weight: 600;
  color: #664D03;
  line-height: 50px;
  gap: 24px;
}

.btncontain {
  padding-top: 20px;
}

.btncontain>button {
  color: white;
  width: 94px;
  height: 42px;
  /* justify-content: center; */
  /* align-items: start; */
  border-radius: 10px;
  background: rgba(130, 100, 56, 0.46);
  margin-inline: 15px;
}

.btncontain>button:nth-child(2) {
  background: #997404;
}

/* Memberinfo.css && PersonalInfo.css------------------------------------------------------*/
.orderContentMem {

  display: flex;
  font-weight: 600;
  color: #664D03;
  line-height: 50px;
  gap: 24px;
}

.tablecontainer {
  width: 902px;
  height: 320px;
  top: 133px;
  left: 94.5px;
  padding: 0px 24px 0px 24px;

  color: #664D03;
  font-family: Inter;
  font-size: 20px;
  font-weight: 600;
  line-height: normal;
}

.memberth {

  border-bottom: 3px solid #664D03;
}

.memtbody {
  text-align: center;
}

.memtbody>tr:nth-child(1) {
  border: 1px solid #FFF8E1;
  background: #FFF8E1;
  border-radius: 30px;
}