/* ##################################Sidebar-style */
.aside {
  width: 206px;
  height: 807px;
  flex-shrink: 0;
  border-radius: 50px;
  border: 1px solid #ffc107;
  background: #fffef9;
  padding: 67px 41px;
}

.aside .aside-main {
  display: flex;
  width: 124px;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.aside-main div {
  display: flex;
  width: 106px;
  padding: 12px 0px;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  border-bottom: 1px solid #ffc107;
}

.aside-input {
  border: none;
  border-bottom: 1px solid #ffc107;
  background-color: rgba(255, 254, 249, 0);
  background-color: #fffef9;
  background-image: url("/public/images/search.png");
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding-left: 40px;
  width: 124px;
  height: 48px;
  /* outline: none;  */
}

::placeholder,
.aside-title,
.aside span {
  color: #664d03;
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}

.aside span {
  font-size: 16px;
  cursor: pointer;
}

/* #################################member-style */
.aside-main>h3 {
  color: #eaac00;
  font-family: Inter;
  font-size: 28px;
  font-weight: 400;
  line-height: normal;
}

.aside-main .member {
  align-items: center;
}

.aside-title-member {
  border-left: 2px solid #ffc107;
  padding-left: 15px;
}

/* #################################Order-style*/
.dashOrder {
  width: 100%;
  display: flex;
  flex-direction: column;
  max-height: auto;
  gap: 18px;
  border-radius: 50px;
  border: 1px solid #ffc107;
  background: #fffef9;
  background-image: url("/public/images/dashboard-background.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position-y: 100%;
  position: relative;
  padding: 38px;
}

.dashOrder>h3 {
  color: #eaac00;
  font-family: Inter;
  font-size: 28px;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}

.orderThead {
  border-bottom: 1px solid #664d03;
}

.orderTbody tr td:first-child {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.orderTbody tr td:last-child {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.orderTbody tr:hover {
  background-color: #fff8e1;
}

.orderTbody tr {
  cursor: pointer;
  line-height: 2;
}

.orderThead,
.orderTbody {
  width: 100%;
  color: #664d03;
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}

.orderBtn {
  display: inline-block;
  cursor: pointer;
  padding: 8px 20px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 400;
  font-family: Inter;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #997404;
  border: none;
  box-shadow: 0 4px #999;
  margin: 10px;
}

.orderBtn:hover {
  background-color: #664d03
}

.orderBtn:active {
  background-color: #664d03;
  box-shadow: 0 3px #666;
  transform: translateY(2px);
}

.orderBtn-group {
  display: flex;
  justify-content: center;
}



/* #################################wayne*/

.orderInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  margin: 50px 0px 15px 0px;
}

.orderCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.line {
  width: 60px;
  border: 1px solid #ffc107;
  border-radius: 30px;
}

.orderText {
  color: #664d03;
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
}

.orderDn {
  padding: 12px 0px;
  border-radius: 10px;
  cursor: auto;
}

.orderDnbtn {
  background-color: #FFC107;
  border-radius: 30px;
  padding: 10px;
  margin: 0 auto;
  border: 0;
}

.contact-table {
  width: 426px;
  height: 152px;
  border-radius: 30px;
  background-color: #FFF8E1;
  display: flex;
  align-items: center;
  padding: 24px 48px 24px 48px;
  text-align: center;
  margin: 0 auto;
  gap: 33px;
  border-collapse: collapse;
  border: none;
}

.contact-table td {
  padding: 8px;
  border: 1px solid #ccc;
  border: none;
}

.contact-image {
  width: 100px;
  height: 100px;
}

.staffInfo {
  position: absolute;
  bottom: 15%;
  left: 5%;
}

.scoreOP {
  width: 445px;
  height: 799px;
  left: 498px;
  border: 1px solid #FFC107;
  gap: 33px;
  border-radius: 30px;
}

.scoreTop {
  width: 443px;
  height: 80px;
  border-radius: 30px 30px 0px 0px;
  gap: 20px;
  padding: 0px 52px 0px 52px;
  background-color: #FFF8E1;
  color: #EAAC00;
  font-size: 28px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  text-align: center;
  line-height: 80px
}

.scoreBody {
  flex-direction: column;
  display: flex;
  align-items: center;
  text-align: center;
  display: flex;
  margin: 0 auto;
  margin-top: 20px;
  color: #664d03;
}

.orderStaff {
  margin: 0 auto;
  width: 80px;
  height: 80px;
  margin-top: 30px;
}

.scoreStart {
  margin: 0 auto;
  margin-top: 30px;
  width: 168px;
  height: 24px;
}

.scorebtn {
  width: 28px;
  height: 28px;
  border-radius: 5px;
  background-color: #ffc107;
  margin: 10px;
  padding: 0;
  text-align: center;
  vertical-align: middle;
}

.scoreinput {
  width: 397px;
  height: 85px;
  border-radius: 10px;
  border: 1px solid #DEE2E6;
  padding: 16px;
  gap: 8px;

}

.scoretext {
  color: #664d03;
  font-size: 20px;
  font-weight: bold;
}