/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* cssreset */

.loginContainer {
    width: 80%;
    border-radius: 30px;
    padding: 48px;
    margin: 0 auto;
    background-color: #FFFEF9;
    border: 1px solid #FFC107;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.loginimg {
    width: 200px;
}

.loginicon {
    width: 36px;
    height: 36px;
    margin-right: 12px;
}



.loginli {
    display: flex;
    align-items: center;
    margin-bottom: 24px;

}

.loginContainer p {
    margin: 4px 12px 4px 12px;
}

.loginContainer input {
    margin: 4px 12px 4px 12px;

}

input::placeholder {
    font-size: 16px;
    color: #ADB5BD;

}

.signupbtn {
    width: 140px;
    height: 40px;
    border-radius: 10px;
    background-color: #FFC107;
    color: #664D03;
}

button {
    background-color: #FFFEF9;
    border: 1px solid #FFFEF9;
    color: #664D03;
    margin: 12px;
}

.loginTab {
    display: flex;
    flex-direction: column;
}


.switchp {
    margin-bottom: 48px;
}


.tabbtn.active {
    border-bottom: 2px solid #FFC107;
    /* 這裡使用藍色作為範例顏色 */
}


.loginflex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loginbg {
    background-image: url(../../../public/images/loginin-bg.png);
    background-repeat: no-repeat;
    background-clip: border-box;
    background-position: center bottom;
}